.custom-form {
  max-width: 286px;
  background-color: rgb(231, 186, 160);
  padding: 5px;
  border-radius: 20px;
}
.form-group {
  background-color: cornflowerblue;
  border: 2px #4ca2e000;
  border-radius: 20px;
}

.label-text {
  background-color: cornflowerblue;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.div-button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
