.text-custom {
  text-align: center;
  font-weight: 800;
  font-size: x-large;
}
.col-custom {
  position: relative;
  top: 50px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
