.card-customize {
  margin-top: 5px;
  border: 3px;
  max-width: 18rem;
  height: 100%;
  box-shadow: 3px #000000ce;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.title-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
