.card-customize {
  margin-top: 5px;
  border: 3px;
  max-width: 18rem;
  height: 100%;
  box-shadow: 5px 5px 10px 2px #0000002a;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.title-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-customize:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 2px #00000077;
  z-index: 1;
}
