.footer-custom {
  background-color: rgb(254, 254, 254);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  z-index: 10;
}

.list-decoration {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.list-decoration:hover {
  color: blueviolet;
}

.dark-mode {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: black;
}
