.footer-custom {
  background-color: antiquewhite;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-decoration {
  text-decoration: none;
  color: black;
}

.list-decoration:hover {
  color: blueviolet;
}
